@import url(https://fonts.googleapis.com/css?family=Petrona:800);
@import url(https://fonts.googleapis.com/css?family=Inter:400);

body{
    margin: 0;
    color: #121212;
    min-width: 385px;
}

.container {
    margin: 0px 50px;
}

.advantages-content > .label{
    padding-top: 100px;
}

.sections{
    padding-top: 40px;
    display:flex;
    justify-content:space-between;
}

.block{
    width: 33%;
}

.advantage {
    display:flex;
    justify-content:space-between;
    border: 1px solid rgba(18, 18, 18, 0.2);
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 20px;
}

.advantage > .image-container > img {
    max-width: 65px;
    max-height: 65px;
}

.main-image {
    width: auto;
}

.main-image > .image-container > img {
    max-width: 390px;
    max-height: 309px;
}

.label > h4 {
    font-family: 'Petrona';
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 45px;
    text-align: center;
    margin: 0;
}

.main-image{
    padding: 0 20px;
}
.block>.image-container> img{
    height: 100%;
    width: 100%;
    min-width: 390px;
}
.text{
    padding-left: 20.86px;
}
.text > .label {
    font-family: 'Petrona';
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 18px;
}

.text > .description {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0.05em;
    margin-top: 15px;
}

@media (min-width: 1220px){
    .advantages-content {
        padding-left: 0rem;
        padding-right: 0rem;
    }
}

@media (max-width: 1220px) {
    .advantages-content {
        padding-left: 3.2rem;
        padding-right: 3.2rem;
    }
}

@media (max-width: 960px) {
    .sections{
        display: flex;
        flex-direction: column;
    }

    .main-image { 
        order: -1;
    }

    .block{
        max-width: unset;
    }
    
    .main-image{
        width: 345px;
        margin: auto;
        padding: 0;
        padding-bottom: 40px;
    }

    .advantage{
        justify-content: flex-start;
    }

    .block{
        width: auto;
    }
}

@media (max-width: 750px) {
    .advantages-content {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
}

@media (max-width: 425px) {
    .label > h4{
        font-size: 30px;
        line-height: 34px;
        width: 100%;
    }

    .advantages-content > .label {
        padding-top: 70px;
    }

    .main-image > .image-container > img {
        max-width: 345px;
        max-height: 273px;
    }

    .block>.image-container> img{
        min-width: 345px;
    }
}